<h2 class="text-4xl font-semibold">Countries</h2>

<hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">


<!-- <div class="w-48 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
  <a
  routerLink="home"
  routerLinkActive="dark:bg-gray-800"
  [routerLinkActiveOptions]="{ exact: true }"
  aria-current="true"
  class="block w-full px-4 py-2 text-white bg-blue-700 border-b border-gray-200 rounded-t-lg cursor-pointer dark:bg-gray-700 dark:border-gray-600">
      Home page
  </a>

  <a
  routerLink="about"
  routerLinkActive="dark:bg-gray-800"
  aria-current="true"
  class="block w-full px-4 py-2 text-white bg-blue-700 border-b border-gray-200 cursor-pointer dark:bg-gray-700 dark:border-gray-600">
      About Page
  </a>

  <a
  routerLink="contact"
  routerLinkActive="dark:bg-gray-800"
  aria-current="true"
  class="block w-full px-4 py-2 text-white bg-blue-700 border-b border-gray-200 rounded-b-lg cursor-pointer dark:bg-gray-700 dark:border-gray-600">
      Contact Page
  </a>

</div> -->


<div class="w-48 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
  <a
  routerLink="countries/by-capital"
  routerLinkActive="dark:bg-gray-800"
  [routerLinkActiveOptions]="{ exact: true }"
  aria-current="true"
  class="block w-full px-4 py-2 text-white bg-blue-700 border-b border-gray-200 rounded-t-lg cursor-pointer dark:bg-gray-700 dark:border-gray-600">
      By capital
  </a>

  <a
  routerLink="countries/by-country"
  routerLinkActive="dark:bg-gray-800"
  aria-current="true"
  class="block w-full px-4 py-2 text-white bg-blue-700 border-b border-gray-200 cursor-pointer dark:bg-gray-700 dark:border-gray-600">
      By country
  </a>

  <a
  routerLink="countries/by-region"
  routerLinkActive="dark:bg-gray-800"
  aria-current="true"
  class="block w-full px-4 py-2 text-white bg-blue-700 border-b border-gray-200 rounded-b-lg cursor-pointer dark:bg-gray-700 dark:border-gray-600">
      By region
  </a>

</div>
